doctype html
html
    head
        title="Bot Market"
        script(src="axios.min.js")
        script(src="vue.min.js")
    body

        script(src="socket.io.min.js")
        script(src="socket.js")
        h1 Bot Market

        section 
            h2 Bots
            #bots.
             {{ message }}
             {{ botList }}
        script(src="bots.js")


