doctype html
html
    head
        title="Bot Market"
        script(src="vue.min.js")
    body

        script(src="socket.io.min.js")
        script(src="socket.js")
        h1 Bot Market

        section 
            h2 Devices
            #devices.
             {{ message }}
             {{ deviceList }}
        script(src="devices.js")


